# TMDB_API_KEY: Requis pour interroger la base de données mondiale des films (The Movie Database).
# Vous pouvez obtenir cette clé gratuitement sur TheMovieDB.org.
TMDB_API_KEY="votre_cle_tmdb"

# Configuration Jellyfin
JELLYFIN_URL="https://jellyfin.rpisimon.uk"
JELLYFIN_API_KEY=""

# Configuration SMTP (Optionnel et recommandé en production pour la validation par e-mail)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME="CinéPrivé Sécurité"
SMTP_FROM_EMAIL="security@cineprive.rpisimon.uk"
