@import "tailwindcss";

@theme {
  --color-gold-500: #d4af37;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant amoled (&:where(.amoled, .amoled *));

body {
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
